rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{userId} {
      allow read: if true;
      allow write: if isOwner(userId);
    }

    match /issues/{issueId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow update: if isSignedIn();
    }

    match /states/{stateId} {
       allow read: if true;
       allow write: if isSignedIn();
    }
  }
}
